---
import './src/styles/global.css'
import Error from "../layouts/Error.astro";
---

<Error>
  <main class="flex flex-col items-center justify-center h-screen bg-red-800 text-white">
    <h1 class="text-2xl">404</h1>
    <p>página no encontrada</p>
  </main>
</Error>